/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --accent-color: #ff8dcb;
  --bg_image: url(../images/cover-image-light.png);
  --bg_color: #fff1f7;
  --header_logo_text_color: #ffc2e6;
  --title_color: #353430;
  --button_color: #353430;
  --button_color_hover: #32312d66;
  --section_title_text_color: #353430;
  --text_color: #353430;
  --display_value: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg_image: url(../images/cover-image-light.png);
    --bg_color: #fff1f7;
    --header_logo_text_color: #ffc2e6;
    --title_color: #353430;
    --button_color: #353430;
    --button_color_hover: #32312d66;
    --section_title_text_color: #353430;
    --text_color: #353430;
    --display_value: none;
  }
}
